{{ define "main" }}

<!-- 2C | Trending -->
<div class="section-card">
  <div class="section-tite-wrap">
    <h3 class="section-title">Trending</h3><a href="/trending">View all</a>
  </div>
  <div class="section-content-c2">
    {{ range first 8 (where .Site.RegularPages ".Params.categories" "trending") }}
    <article class="article verti"> <a href="{{ .Permalink }}" title="{{ .Params.heading }}" class="img-block w-inline-block">
        <figure class="figure vereti">
          <img src="{{ .Params.preview_image }}" loading="lazy" alt="{{ humanize .Params.title }}" class="img" />
        </figure>
        <div class="category-desc">{{ humanize .Params.categories }}</div>
      </a>
      <div>
        <h2 class="heading-medium"> <a href="{{ .Permalink }}" title="{{ .Params.heading }}">{{ .Params.heading }}</a></h2>
        <div class="article-meta">
          <div class="author">By  <a href="/author/{{ .Params.authors | urlize }}">{{ .Params.authors }}</a></div>
          <time datetime="{{ .Params.date }}">{{ .Params.date | time.Format ":date_long" }}</time>
        </div>
      </div>
    </article>
    {{ end }}

    <!-- In-Feed ADs -->
    <!-- <div>
      <ins class="adsbygoogle"
           style="display:block"
           data-ad-format="fluid"
           data-ad-layout-key="-6t+ed+2i-1n-4w"
           data-ad-client="ca-pub-4727182780685064"
           data-ad-slot="1789265177"></ins>
      <script data-cfasync="false">
           (adsbygoogle = window.adsbygoogle || []).push({});
      </script>
    </div> -->

    <!-- {{ range first 4 (after 5 (where .Site.RegularPages ".Params.categories" "trending")) }}
    <article class="article verti"> <a href="{{ .Permalink }}" title="{{ .Params.heading }}" class="img-block w-inline-block">
        <figure class="figure vereti">
          <img src="{{ .Params.preview_image }}" alt="{{ humanize .Params.title }}" class="img" />
        </figure>
        <div class="category-desc">{{ humanize .Params.categories }}</div>
      </a>
      <div>
        <h2 class="heading-medium"> <a href="{{ .Permalink }}" title="{{ .Params.heading }}">{{ .Params.heading }}</a></h2>
        <div class="article-meta">
          <div class="author">By  <a href="/author/{{ .Params.authors | urlize }}">{{ .Params.authors }}</a></div>
          <time datetime="{{ .Params.date }}">{{ .Params.date | time.Format ":date_long" }}</time>
        </div>
      </div>
    </article>
    {{ end }} -->
  </div>
</div>

<!-- 3C | Sports -->
<div class="section-card">
  <div class="section-tite-wrap">
    <h3 class="section-title">Sports</h3><a href="/cinema">View all</a>
  </div>
  <div class="section-content-c2">
    {{ range first 8 (where .Site.RegularPages ".Params.categories" "sports") }}
    <article class="article verti"> <a href="{{ .Permalink }}" title="{{ .Params.heading }}" class="img-block w-inline-block">
        <figure class="figure vereti">
          <img src="{{ .Params.preview_image }}" loading="lazy" alt="{{ humanize .Params.title }}" class="img" />
        </figure>
        <div class="category-desc">{{ humanize .Params.categories }}</div>
      </a>
      <div>
        <h2 class="heading-medium"> <a href="{{ .Permalink }}" title="{{ .Params.heading }}">{{ .Params.heading }}</a></h2>
        <div class="article-meta">
          <div class="author">By  <a href="/author/{{ .Params.authors | urlize }}">{{ .Params.authors }}</a></div>
          <time datetime="{{ .Params.date }}">{{ .Params.date | time.Format ":date_long" }}</time>
        </div>
      </div>
    </article>
    {{ end }}

    <!-- In-Feed ADs -->
    <!-- <div>
      <ins class="adsbygoogle"
           style="display:block"
           data-ad-format="fluid"
           data-ad-layout-key="-6t+ed+2i-1n-4w"
           data-ad-client="ca-pub-4727182780685064"
           data-ad-slot="1789265177"></ins>
      <script data-cfasync="false">
           (adsbygoogle = window.adsbygoogle || []).push({});
      </script>
    </div> -->

    <!-- {{ range first 5 (after 4 (where .Site.RegularPages ".Params.categories" "sports")) }}
    <article class="article verti"> <a href="{{ .Permalink }}" title="{{ .Params.heading }}" class="img-block w-inline-block">
        <figure class="figure vereti">
          <img src="{{ .Params.preview_image }}" loading="lazy" alt="{{ humanize .Params.title }}" class="img" />
        </figure>
        <div class="category-desc">{{ humanize .Params.categories }}</div>
      </a>
      <div>
        <h2 class="heading-medium"> <a href="{{ .Permalink }}" title="{{ .Params.heading }}">{{ .Params.heading }}</a></h2>
        <div class="article-meta">
          <div class="author">By  <a href="/author/{{ .Params.authors | urlize }}">{{ .Params.authors }}</a></div>
          <time datetime="{{ .Params.date }}">{{ .Params.date | time.Format ":date_long" }}</time>
        </div>
      </div>
    </article>
    {{ end }} -->
  </div>
</div>


<!-- 2C | Cinema -->
<div class="section-card">
  <div class="section-tite-wrap">
    <h3 class="section-title">Cinema</h3><a href="/cinema">View all</a>
  </div>
  <div class="section-content-c2">
    {{ range first 8 (where .Site.RegularPages ".Params.categories" "cinema") }}
    <article class="article verti"> <a href="{{ .Permalink }}" title="{{ .Params.heading }}" class="img-block w-inline-block">
        <figure class="figure vereti">
          <img src="{{ .Params.preview_image }}" loading="lazy" alt="{{ humanize .Params.title }}" class="img" />
        </figure>
        <div class="category-desc">{{ humanize .Params.categories }}</div>
      </a>
      <div>
        <h2 class="heading-medium"> <a href="{{ .Permalink }}" title="{{ .Params.heading }}">{{ .Params.heading }}</a></h2>
        <div class="article-meta">
          <div class="author">By  <a href="/author/{{ .Params.authors | urlize }}">{{ .Params.authors }}</a></div>
          <time datetime="{{ .Params.date }}">{{ .Params.date | time.Format ":date_long" }}</time>
        </div>
      </div>
    </article>
    {{ end }}

    <!-- In-Feed ADs -->
    <!-- <div>
      <ins class="adsbygoogle"
           style="display:block"
           data-ad-format="fluid"
           data-ad-layout-key="-6t+ed+2i-1n-4w"
           data-ad-client="ca-pub-4727182780685064"
           data-ad-slot="1789265177"></ins>
      <script data-cfasync="false">
           (adsbygoogle = window.adsbygoogle || []).push({});
      </script>
    </div> -->

    <!-- {{ range first 4 (after 5 (where .Site.RegularPages ".Params.categories" "cinema")) }}
    <article class="article verti"> <a href="{{ .Permalink }}" title="{{ .Params.heading }}" class="img-block w-inline-block">
        <figure class="figure vereti">
          <img src="{{ .Params.preview_image }}" loading="lazy" alt="{{ humanize .Params.title }}" class="img" />
        </figure>
        <div class="category-desc">{{ humanize .Params.categories }}</div>
      </a>
      <div>
        <h2 class="heading-medium"> <a href="{{ .Permalink }}" title="{{ .Params.heading }}">{{ .Params.heading }}</a></h2>
        <div class="article-meta">
          <div class="author">By  <a href="/author/{{ .Params.authors | urlize }}">{{ .Params.authors }}</a></div>
          <time datetime="{{ .Params.date }}">{{ .Params.date | time.Format ":date_long" }}</time>
        </div>
      </div>
    </article>
    {{ end }} -->
  </div>
</div>


{{ end }}
