body {
  background-color: #f5f6f7;
  font-family: 'Mukta Malar', sans-serif;
  color: #262626;
  font-size: 15px;
  line-height: 1.5;
}

h1 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 24px;
  line-height: 1.5;
  font-weight: 700;
}

h2 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 20px;
  line-height: 1.35em;
  font-weight: 800;
}

h3 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 16px;
  line-height: 30px;
  font-weight: 800;
}

p {
  margin-bottom: 10px;
  font-size: 17px;
}

a {
  -webkit-transition: all 200ms cubic-bezier(.86, 0, .07, 1);
  transition: all 200ms cubic-bezier(.86, 0, .07, 1);
  color: #262626;
  text-decoration: none;
}

a:hover {
  color: #d60f16;
}

img {
  display: inline-block;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  -o-object-fit: cover;
  object-fit: cover;
}

.container {
  width: 90vw;
  max-width: 1080px;
  margin-right: auto;
  margin-left: auto;
}

.container.column {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.aside {
  position: -webkit-sticky;
  position: sticky;
  top: auto;
  bottom: 0px;
  width: 300px;
  margin-left: 30px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.main {
  position: -webkit-sticky;
  position: sticky;
  top: 30px;
  bottom: auto;
  width: 100%;
  -webkit-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start;
}

.section-card {
  max-width: 750px;
  margin-bottom: 30px;
  padding: 12px 20px 8px;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.05);
}

.section-tite-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-bottom: 2px solid hsla(0, 0%, 60.8%, 0.2);
}

.section-title {
  margin-top: 0px;
  margin-bottom: -1px;
  padding-bottom: 5px;
  border-bottom: 2px solid #d60f16;
  text-transform: capitalize;
}

.section-title.large {
  margin-top: 10px;
}

.nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 40px;
  padding-top: 10px;
  padding-bottom: 20px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.brand-logo {
  width: 100px;
  -o-object-fit: contain;
  object-fit: contain;
}

.brand-logo.theme {
  width: auto;
  height: 60px;
  margin-left: 4px;
  mix-blend-mode: normal;
  -o-object-fit: contain;
  object-fit: contain;
}

.brand-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.menu-btn {
  display: none;
}

.menu-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 800px;
  margin-top: 10px;
  margin-bottom: 0px;
  margin-left: 30px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 16px;
  font-weight: 600;
}

.nav-menu {
  margin-left: 30px;
  color: #262626;
  text-decoration: none;
}

.nav-menu.w--current {
  color: #d60f16;
}

.header {
  background-color: #fff;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.05);
}

.figure {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  width: 260px;
  height: 150px;
  margin-right: 18px;
  margin-bottom: 0px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 4px;
  background-color: #e6e6e6;
}

.figure.vereti {
  width: 100%;
  height: 180px;
}

.figure.popular {
  height: 130px;
}

.figure.post {
  width: 100%;
  height: 360px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.figure.recent {
  width: 100%;
  height: 130px;
}

.article {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-bottom: 24px;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.article.verti {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.author {
  margin-right: 8px;
  padding-right: 8px;
}

.article-meta {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  color: grey;
  font-size: 12px;
}

.author-name {
  -webkit-transition: all 200ms cubic-bezier(.86, 0, .07, 1);
  transition: all 200ms cubic-bezier(.86, 0, .07, 1);
}

.author-name:hover {
  color: #d60f16;
}

.figure-img {
  -webkit-transition: all 200ms cubic-bezier(.86, 0, .07, 1);
  transition: all 200ms cubic-bezier(.86, 0, .07, 1);
}

.figure-img:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.img-block {
  position: relative;
  width: 100%;
}

.img-block.row {
  width: auto;
}

.category-desc {
  position: absolute;
  left: 0%;
  top: auto;
  right: auto;
  bottom: 0%;
  z-index: 1;
  padding: 1px 8px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  background-color: #d60f16;
  color: #f5f6f7;
  font-size: 11px;
}

.section-content-c2 {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 24px;
  grid-row-gap: 10px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.heading-medium {
  font-size: 18px;
  line-height: 1.25em;
}

.social-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  padding-right: 10px;
  padding-left: 0px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  opacity: 1;
  color: #fff;
}

.social-wrap:hover {
  color: #fff;
}

.social-wrap.share {
  padding-right: 0px;
}

.list {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.social-icon {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 34px;
  height: 34px;
  padding: 8px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  background-color: rgba(0, 0, 0, 0.1);
}

.social-icon.share {
  background-color: transparent;
}

.facebook {
  display: inline-block;
  border-radius: 4px;
  background-color: #026bf0;
}

.twitter {
  display: inline-block;
  border-radius: 4px;
  background-color: #009cfb;
}

.instagram {
  display: inline-block;
  border-radius: 4px;
  background-image: linear-gradient(15deg, #ffb13d, #dd277b 47%, #4d5ed4);
}

.telegram {
  display: inline-block;
  border-radius: 4px;
  background-color: #00a0ce;
}

.category-count-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 12px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.category-count {
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  color: grey;
}

.category-name {
  font-size: 16px;
  font-weight: 500;
}

.popular-tag {
  display: inline-block;
  margin-right: 6px;
  margin-bottom: 6px;
  padding: 3px 12px;
  border-radius: 2px;
  background-color: #f5f6f7;
  font-size: 15px;
  font-weight: 500;
  text-transform: capitalize;
}

.popular-tag.inner {
  font-size: 12px;
}

.popular-tag.inner.title {
  background-color: #262626;
  color: #fff;
}

.popular-tag.pn {
  margin-right: 0px;
}

.popular-tag.selected {
  background-color: grey;
  color: #fff;
}

.heading-small {
  margin-bottom: 5px;
  font-size: 17px;
  line-height: 1.25em;
  font-weight: 700;
}

.img {
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
}

.img:hover {
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
}

.figure-2 {
  overflow: hidden;
  height: 360px;
  border-radius: 4px;
}

.main-img {
  margin-top: 10px;
  margin-bottom: 20px;
}

.main-link {
  color: #d60f16;
  font-weight: 500;
}

.breadcrumb {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10px;
  margin-bottom: -15px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color: grey;
  font-weight: 500;
}

.arrow {
  font-size: 20px;
}

.category {
  color: #d60f16;
}

.heading {
  margin-bottom: 12px;
}

.submit-button {
  margin-top: 10px;
  border-radius: 4px;
  background-color: #d60f16;
}

.text-field {
  border-radius: 4px;
}

.text-field:focus {
  border-style: solid;
  border-width: 1px;
  border-color: #262626;
}

.textarea {
  min-height: 120px;
  border-radius: 4px;
}

.textarea:focus {
  border-style: solid;
  border-width: 1px;
  border-color: #262626;
}

.form {
  margin-top: 40px;
}

.whatsapp {
  display: inline-block;
  border-radius: 4px;
  background-color: #29a71a;
}

.social-share-wrap {
  display: -ms-grid;
  display: grid;
  margin-top: 20px;
  margin-bottom: 14px;
  -webkit-box-pack: start;
  -webkit-justify-content: start;
  -ms-flex-pack: start;
  justify-content: start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-auto-flow: row;
  grid-auto-columns: 1fr;
  grid-column-gap: 12px;
  grid-row-gap: 16px;
  -ms-grid-columns: auto auto auto auto auto;
  grid-template-columns: auto auto auto auto auto;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  color: grey;
  font-weight: 500;
}

.tags {
  margin-top: 30px;
}

.link-3 {
  color: #fff;
}

.share-icon {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-left: 10px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #f5f6f7;
  font-size: 15px;
}

.footer {
  padding-bottom: 20px;
  background-color: #262626;
  color: #fff;
}

.div-block {
  display: -ms-grid;
  display: grid;
  padding-top: 40px;
  padding-bottom: 40px;
  grid-auto-columns: 1fr;
  grid-column-gap: 30px;
  grid-row-gap: 16px;
  -ms-grid-columns: auto 1fr auto;
  grid-template-columns: auto 1fr auto;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.footer-social {
  display: -ms-grid;
  display: grid;
  margin-top: 20px;
  margin-bottom: 14px;
  margin-left: 60px;
  -webkit-box-pack: start;
  -webkit-justify-content: start;
  -ms-flex-pack: start;
  justify-content: start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-auto-flow: row;
  grid-auto-columns: 1fr;
  grid-column-gap: 12px;
  grid-row-gap: 16px;
  -ms-grid-columns: auto auto auto auto;
  grid-template-columns: auto auto auto auto;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  color: grey;
  font-weight: 500;
}

.link-block-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.grey {
  color: #bfbfbf;
  font-size: 14px;
}

.grey.para {
  margin-top: -10px;
}

.footer-link {
  padding-right: 25px;
  color: #fff;
}

.footer-menu-link {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.footer-menu-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 20px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  border-top: 1px solid hsla(0, 0%, 50%, 0.5);
  font-size: 15px;
}

.section-content-c3 {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 24px;
  grid-row-gap: 10px;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.prev-next-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 24px;
  margin-bottom: 10px;
  padding-top: 10px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  border-top: 2px solid hsla(0, 0%, 60.8%, 0.2);
}

.pn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
}

.rights {
  color: #bfbfbf;
}

.pagination {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.normal {
  background-color: #f5f6f7;
}

.menu-overlay {
  display: none;
}

.list-item-2 {
  display: none;
}

.header-social {
  display: none;
  margin-top: 20px;
  margin-bottom: 14px;
  margin-left: 60px;
  -webkit-box-pack: start;
  -webkit-justify-content: start;
  -ms-flex-pack: start;
  justify-content: start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-auto-flow: row;
  grid-auto-columns: 1fr;
  -ms-grid-columns: auto auto auto auto;
  grid-template-columns: auto auto auto auto;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  color: grey;
  font-weight: 500;
}

.menu-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 800px;
  margin-top: 10px;
  margin-bottom: 0px;
  margin-left: 30px;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 16px;
  font-weight: 600;
}

.prev {
  margin-right: auto;
}

.next {
  margin-left: auto;
}

.success-message {
  padding: 20px;
  background-color: #ddd;
}
.div-block-5 {
display: -webkit-box;
display: -webkit-flex;
display: -ms-flexbox;
display: flex;
width: 100%;
height: auto;
-webkit-box-pack: center;
-webkit-justify-content: center;
-ms-flex-pack: center;
justify-content: center;
-webkit-flex-wrap: wrap;
-ms-flex-wrap: wrap;
flex-wrap: wrap;
-webkit-box-align: center;
-webkit-align-items: center;
-ms-flex-align: center;
align-items: center;
}
.div-block-6 {
width: 1000px;
height: 100px;
}
.div-block-7 {
width: 100%;
}
.div-block-8 {
display: -webkit-box;
display: -webkit-flex;
display: -ms-flexbox;
display: flex;
-webkit-box-orient: vertical;
-webkit-box-direction: normal;
-webkit-flex-direction: column;
-ms-flex-direction: column;
flex-direction: column;
-webkit-flex-wrap: wrap;
-ms-flex-wrap: wrap;
flex-wrap: wrap;
-webkit-box-align: center;
-webkit-align-items: center;
-ms-flex-align: center;
align-items: center;
}
.utility-page-wrap {
display: -webkit-box;
display: -webkit-flex;
display: -ms-flexbox;
display: flex;
width: 100vw;
height: 100vh;
max-height: 100%;
max-width: 100%;
-webkit-box-pack: center;
-webkit-justify-content: center;
-ms-flex-pack: center;
justify-content: center;
-webkit-box-align: center;
-webkit-align-items: center;
-ms-flex-align: center;
align-items: center;
}
.utility-page-content {
display: -webkit-box;
display: -webkit-flex;
display: -ms-flexbox;
display: flex;
width: 260px;
-webkit-box-orient: vertical;
-webkit-box-direction: normal;
-webkit-flex-direction: column;
-ms-flex-direction: column;
flex-direction: column;
text-align: center;
}
.utility-page-form {
display: -webkit-box;
display: -webkit-flex;
display: -ms-flexbox;
display: flex;
-webkit-box-orient: vertical;
-webkit-box-direction: normal;
-webkit-flex-direction: column;
-ms-flex-direction: column;
flex-direction: column;
-webkit-box-align: stretch;
-webkit-align-items: stretch;
-ms-flex-align: stretch;
align-items: stretch;
}
.brand-wrap {
display: -webkit-box;
display: -webkit-flex;
display: -ms-flexbox;
display: flex;
-webkit-box-align: end;
-webkit-align-items: flex-end;
-ms-flex-align: end;
align-items: flex-end;
}
.button {
display: inline-block;
padding: 10px 20px;
border-radius: 4px;
background-color: #d60f16;
color: #fff;
}
.button:hover {
background-color: #b8060c;
color: #fff;
}

.gnews-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 10px;
  padding-bottom: 10px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.gnews-logo {
  max-width: 100px;
  margin-left: 6px;
  mix-blend-mode: darken;
}

.gnews {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 8px 24px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 500px;
  background-color: #f5f6f7;
  font-size: 16px;
}
.author-avatar {
  width: 64px;
  height: 64px;
  border-radius: 100px;
}
.author-wrap {
  display: -ms-grid;
  display: grid;
  margin-top: 10px;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: auto 1fr;
  grid-template-columns: auto 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}
.author-name {
  margin-top: 0px;
  margin-bottom: 0px;
}

@media screen and (max-width: 991px) {
  .container.column {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .aside {
    position: static;
    width: 100%;
  }

  .main {
    position: static;
  }

  .nav {
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
  }

  .menu-btn {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 48px;
    height: 48px;
    padding: 10px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #fff;
  }

  .menu-btn.close {
    z-index: 3;
    -webkit-align-self: flex-end;
    -ms-flex-item-align: end;
    align-self: flex-end;
    font-size: 24px;
    font-weight: 600;
  }

  .menu-wrap {
    position: fixed;
    left: auto;
    top: 0%;
    right: 0%;
    bottom: 0%;
    z-index: 3;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    overflow: auto;
    width: auto;
    height: 100vh;
    min-width: 66vw;
    margin-top: 0px;
    padding: 30px 6vw 100px 5vw;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    background-color: #f5f6f7;
    -webkit-transform: translate(100%, 0px);
    -ms-transform: translate(100%, 0px);
    transform: translate(100%, 0px);
    -webkit-transition: all 200ms cubic-bezier(.86, 0, .07, 1);
    transition: all 200ms cubic-bezier(.86, 0, .07, 1);
  }

  .nav-menu {
    display: inline-block;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 18px;
  }

  .header {
    box-shadow: none;
  }

  .figure {
    width: 240px;
  }

  .article.verti.popular {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }

  .list {
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
  }

  .div-block {
    -ms-grid-columns: auto 1fr;
    grid-template-columns: auto 1fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
  }

  .footer-social {
    margin-left: 0px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .footer-link {
    padding-right: 20px;
    padding-left: 20px;
  }

  .footer-menu-link {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .footer-menu-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .div-block-3 {
    position: relative;
    z-index: 10;
    background-color: grey;
  }

  .div-block-4 {
    z-index: 2;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-right: 5vw;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
  }

  .menu-overlay {
    position: fixed;
    left: 0%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.66);
  }

  .list-item-2 {
    display: block;
  }

  .header-social {
    z-index: 3;
    display: -ms-grid;
    display: grid;
    margin-left: 0px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    grid-auto-columns: 1fr;
    grid-column-gap: 16px;
    grid-row-gap: 8px;
    -ms-grid-columns: auto auto auto auto;
    grid-template-columns: auto auto auto auto;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
  }

  .menu-list {
    position: relative;
    z-index: 2;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-top: 0px;
    margin-left: 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
}

@media screen and (max-width: 767px) {
  h1 {
    font-size: 21px;
  }

  h2 {
    font-size: 18px;
    line-height: 1.25em;
    font-weight: 700;
  }

  .nav {
    margin-bottom: 40px;
  }

  .brand-logo {
    width: 80px;
  }

  .brand-logo.theme {
    height: 50px;
  }

  .menu-wrap {
    padding-top: 16px;
  }

  .list-item {
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .nav-menu.w--current {
    font-weight: 700;
  }

  .figure {
    width: 100%;
    height: 240px;
  }

  .figure.vereti {
    height: 240px;
  }

  .figure.popular {
    height: 240px;
  }

  .figure.post {
    height: 260px;
  }

  .figure.recent {
    height: 240px;
  }

  .img-block.row {
    width: 100%;
  }

  .article {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .article.verti.popular {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .author {
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
  }
  .img-block.row {
    width: 100%;
  }

  .section-content-c2 {
    display: block;
  }

  .list {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
  }

  .heading-small {
    font-size: 18px;
  }

  .div-block {
    justify-items: center;
    -ms-grid-columns: auto;
    grid-template-columns: auto;
    -ms-grid-rows: auto auto auto;
    grid-template-rows: auto auto auto;
    text-align: center;
  }

  .footer-link {
    display: inline-block;
    margin-bottom: 10px;
    font-size: 14px;
  }

  .section-content-c3 {
    display: block;
  }
}

@media screen and (max-width: 479px) {
  body {
    background-color: #fff;
  }

  .section-card {
    padding-right: 0px;
    padding-left: 0px;
    box-shadow: none;
  }

  .nav {
    margin-bottom: 10px;
  }

  .menu-btn {
    width: 42px;
    height: 42px;
  }

  .menu-wrap {
    padding-top: 22px;
    padding-right: 8vw;
  }

  .figure {
    height: 180px;
  }

  .figure.vereti {
    height: 180px;
  }

  .figure.popular {
    height: 180px;
  }

  .figure.post {
    height: 190px;
  }

  .figure.recent {
    height: 180px;
  }
  .author-wrap {
    -ms-grid-rows: auto auto auto;
    grid-template-rows: auto auto auto;
    }
  .author-info {
    margin-bottom: 10px;
    }
  }

#w-node-_96e01fe2-4191-04ea-eee2-9b585b930dde-27c696ac {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}
#w-node-_7f24948d-acd1-4dd2-a6f6-f951f6f82626-27c696ac {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 2;
  grid-column-start: span 2;
  -ms-grid-column-span: 2;
  grid-column-end: span 2;
}


#w-node-_8d389ffc-f74e-94d9-c6f5-b5b7b0278b64-27c696ac {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_99a62a48-f0b4-1706-d919-67f3f33651ab-27c696ac {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

@media screen and (max-width: 991px) {
  #w-node-_2c63b7e1-f003-49fb-7cbd-0b920789e8a9-27c696ac {
    -ms-grid-column: span 4;
    grid-column-start: span 4;
    -ms-grid-column-span: 4;
    grid-column-end: span 4;
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
  }

  #w-node-_2f929d29-b379-00c2-bb7a-3d1b29818206-27c696ac {
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 2;
    grid-column-start: span 2;
    -ms-grid-column-span: 2;
    grid-column-end: span 2;
  }
}

@media screen and (max-width: 767px) {
  #w-node-_2f929d29-b379-00c2-bb7a-3d1b29818206-27c696ac {
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
  }
}
@media screen and (max-width: 479px) {
#w-node-_96e01fe2-4191-04ea-eee2-9b585b930dde-27c696ac {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 2;
  grid-column-end: 3;
  -ms-grid-row: 2;
  grid-row-start: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 3;
}
#w-node-_7f24948d-acd1-4dd2-a6f6-f951f6f82626-27c696ac {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 2;
  grid-column-end: 3;
  -ms-grid-row: 3;
  grid-row-start: 3;
  -ms-grid-row-span: 1;
  grid-row-end: 4;
}
}
